:root {
  --clr-neutral-900: #262425;
  --clr-primary-600: #312b71;
  --clr-neutral-100: #eef0f2;
  --clr-primary-400: #8574eb;
  --clr-primary-999: #171535;
  --clr-secondary-400: #acd7e7;
  --clr-quarternary-400: #e7959d;
  --clr-nuetral-500: #dfdddd;
  --clr-tertiary-400: #e5cd8d;
  --clr-tertiary-600: #dfa867;
  --clr-secondary-600: #73a4d3;
}
